.body {
  background-color: #1b0c2c;
}

.h1 {
  color: #ffffff;
  font-family: "Ephesis", cursive;
}

.p {
  color: #ffffff;
  font-family: "Ephesis", cursive;
  font-size: 30px;
}

img {
  margin-top: 20px;
  width: 25%;
  height: auto;
  border-radius: 5%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
