/* Add your code in each class */
body {
  background-color: #1b0c2c;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.movie-card {
  color: white;
  width: 300px;
  height: 300px;
  position: relative;
}
.movie-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 0% 0%;
  overflow: hidden;
}
.movie-details-container {
}
.descriptions {
  padding-left: 20px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  z-index: 1;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
  font-size: 30px;
  font-weight: bold;
}
